*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    height:100vh;
    overflow-x: hidden;
    perspective: 10px;
}

.container{
    position:relative;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    z-index: -1;
}

.background{
    transform: translateZ(-40px) scale(5);
}

.foreground{
    transform: translateZ(-20px) scale(3);
}

.background, .foreground{
    position:absolute;
    height:100%;
    width:100%;
    object-fit: cover;
    z-index:-1;
}

h1{
    position: absolute;
    top:5rem;
    font-size:10rem;
    letter-spacing:4px;
    color:white;
    text-shadow:0 0 10px rgba(0,0,0,0.3);

}
section{
    background-color: rgb(45,45,45);
    color:white;
    padding:5rem 0;
}
.secHeading{
    font-size:5rem;
    padding: 0. 10rem;
}

.bg1{
    background-image: url(./parallex\ website/sport-1.jpg)
}

.bg2 {
    background-image: url(./parallex\ website/sport-2.jpg);
}
.bg3 {
    background-image : url(./parallex\ website/sport-3.jpg);

}
 
.bg{
    position: relative; 
    width:100%;
    background-attachment: fixed;  /*It is used to make fixed the bg Pictures else it will make whole page scrolable*/
    height: 500px;
    background-size: cover;   /* it is used to make picture in frame and it will occupy whole frame  while maintaing aspect ratio*/
    background-position: center ;

}

.desc{
    position:absolute;
    background-color:aliceblue;
    padding:0.5rem 2.5rem;
    top: 50%;
    left:20%;
    transform: translateX(-50%) translate(-50);
    color:black;
    font-size:3.5rem;
    font-weight: 600;
}